<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--	<bean id="a"  class="com.test.class0311_registerbean.BeanA">-->
<!--	</bean>-->

<!--	静态工厂方法的例子-->
	<!--	<bean id="a" class="com.test.class0311_registerbean.ObjectStaticFactory" factory-method="getBeanA">-->
<!--	</bean>-->

	<!-- 实例工厂方法的例子-->
	<!--	<bean id="a" class="com.test.class0311_registerbean.BeanA" factory-bean="objectFactory" factory-method="instanceObject">-->
<!--	</bean>-->
	<!--	<bean id="objectFactory" class="com.test.class0311_registerbean.ObjectFactory">-->
<!--	</bean>-->
</beans>